body {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: $globalFont;
}
p {
  font-size: 1.0em; /* 14 / 14 */
  line-height: 1.5em; /* 21 / 14 */
  margin-bottom: 1.5em; /* 21 / 14 */
}
a {
  color: $globalPrimaryAccent;

  &:hover {
    color: $globalPrimaryAccent;
  }
}
h1 {
  color: $globalPrimaryAccent;
  font-weight: bold;
  font-size: 1.7em;
  margin: 0 0 0.40em 0;
  text-shadow: 2px 2px 0px black;

  span {
    color: #ffc300;
  }
}
h2 {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 0 0.30em 0;

  span {
    color: #ffc300;
  }
}
h3 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
  font-size: 1.2em;
}
