<!DOCTYPE html>
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Reece Warrender" />
		<meta name="keywords" content="LoL 3k Challenge, LoL 3k" />
		<meta name="description" content="League of Legends 3k Challenge!" />
    <title>LoL 3k Challenge</title>
    <!-- bower:css -->
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.css' />
    <link rel='stylesheet' href='/css/css.css' />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/bower_components/tablesorter/jquery.tablesorter.min.js"></script>
    <!-- endbower -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
  </head>
	<body>
    <header id="master-header">
    	<div class="master-header-inner">
    		<div class="master-header-icon"><a href="/" title="LoL 3k Challenge"></a></div>
  			<nav class="master-header-navigation">
  				<ul>
  					<li><a href="/" title="LoL 3k Challenge">LoL 3k Challenge</a></li>
  				</ul>
  			</nav>
    		<div class="master-header-social">
    			<ul>
    				<li>Developed by Wo33er</li>
    				<li><a href="https://github.com/wo33er/league-challenge-3k" target="_blank" class="master-header-social-github"></a></li>
    			</ul>
    		</div>
    	</div>
    </header>
    <div id="master-content">
      <div class="master-content-inner">
        {{{body}}}
      </div>
    </div>

	</body>
</html>
