$masterContentInnerWidth = 880px;

#master-content {
	padding: 0 5px;
	width: 100%;
}
.master-content-inner {
	width: 100%;
	max-width: $masterContentInnerWidth;
  margin: 0 auto;
	padding-top: 70px;
}
